1. Import the necessary libraries

In [1]:
import pandas as pd

2. Import the dataset chipotle.tsv

3. Assign it to a variable called chipo

In [2]:
 chipotle = pd.read_csv("chipotle.tsv", sep="\t")

4. See the first 10 entries

In [8]:
chipotle.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

5. What is the number of observations in the dataset?

In [11]:
chipotle.shape

(4622, 5)

In [15]:
chipotle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

6. What is the number of columns in the dataset?

In [18]:
chipotle.shape[1]

5

7. Print the name of all the columns

In [19]:
chipotle.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

8. How is the dataset indexed?

In [20]:
chipotle.index

RangeIndex(start=0, stop=4622, step=1)

9. Which was the most-ordered item?

In [21]:
most_order = chipotle.groupby('item_name').sum()

In [22]:
most_order

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [27]:
ans = most_order.sort_values("order_id")

In [31]:
ans.tail(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

11. What was the most ordered item in the choice_description column?

In [32]:
most_order2 = chipotle.groupby('choice_description').sum()

In [33]:
most_order2

                                                    order_id  quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...       214         1
[Adobo-Marinated and Grilled Chicken, [Sour Cre...       279         1
[Adobo-Marinated and Grilled Chicken]                    217         1
[Adobo-Marinated and Grilled Steak, [Sour Cream...       279         1
[Adobo-Marinated and Grilled Steak]                      217         1
...                                                      ...       ...
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      2576         2
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1215         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

In [36]:
ans = most_order2.sort_values("order_id")

In [37]:
ans.tail(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

12. How many items were orderd in total?

In [44]:
chipotle['quantity'].sum()

4972

13. Turn the item price into a float

a. Check the item price type

In [50]:
chipotle.dtypes['item_price']

dtype('O')

b. Create a lambda function and change the type of item price

In [3]:
def fun(x):
    return float(x[1:])

In [4]:
chipotle['item_price'].apply(fun)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [65]:
chipotle['item_price'] = chipotle['item_price'].apply(lambda x:float(x[1:]))

TypeError: 'float' object is not subscriptable

In [63]:
chipotle.dtypes['item_price']

dtype('float64')

c. Check the item price type

dtype('float64')

14. How much was the revenue for the period in the dataset?

In [66]:
revenue = (chipotle["item_price"] * chipotle["quantity"]).sum()

In [67]:
revenue

39237.02

15. How many orders were made in the period?

In [70]:
chipotle["order_id"].nunique()

1834

16. What is the average revenue amount per order?

In [71]:
chipotle["revenue"] = (chipotle["item_price"] * chipotle["quantity"]).sum()

In [73]:
chipotle.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,39237.02
1,1,1,Izze,[Clementine],3.39,39237.02
2,1,1,Nantucket Nectar,[Apple],3.39,39237.02
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,39237.02
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,39237.02

In [77]:
chipotle

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,39237.02,2.39,39237.02
1,1,1,Izze,[Clementine],3.39,39237.02
2,1,1,Nantucket Nectar,[Apple],3.39,39237.02
3,1,1,Chips and Tomatillo-Green Chili Salsa,39237.02,2.39,39237.02
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,39237.02
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,39237.02
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,39237.02
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,39237.02
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,39237.02
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,39237.02

21.394231188658654

17. How many different items are sold?

In [79]:
chipotle["item_name"].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [81]:
chipotle["item_name"].ununique()

AttributeError: 'Series' object has no attribute 'ununique'

50

18. How many products cost more than $10.00?

In [91]:
chipotle[chipotle['item_price']>10].nunique()["item_name"]

31

19. What is the price of each item?

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
3363                          Chicken Salad        8.49
3471                           Veggie Salad        8.49
3502                            Steak Salad        8.69
3749                    Carnitas Salad Bowl       11.89
3750                         Carnitas Salad        8.99

[228 rows x 2 columns]

(50, 1)

                                       item_price
item_name
6 Pack Soft Drink                           12.98
Barbacoa Bowl                               11.75
Barbacoa Burrito                            11.75
Barbacoa Crispy Tacos                       18.50
Barbacoa Salad Bowl                         11.89
Barbacoa Soft Tacos                         11.75
Bottled Water                               15.00
Bowl                                        22.20
Burrito                                      7.40
Canned Soda                                  4.36
Canned Soft Drink                            5.00
Carnitas Bowl                               35.25
Carnitas Burrito                            18.50
Carnitas Crispy Tacos                       17.98
Carnitas Salad                               8.99
Carnitas Salad Bowl                         11.89
Carnitas Soft Tacos                         11.75
Chicken Bowl                                32.94
Chicken Burrito                             35.00
Chicken Crispy Tacos                        17.50
Chicken Salad                               10.98
Chicken Salad Bowl                          22.50
Chicken Soft Tacos                          21.96
Chips                                        6.45
Chips and Fresh Tomato Salsa                44.25
Chips and Guacamole                         17.80
Chips and Mild Fresh Tomato Salsa            3.00
Chips and Roasted Chili Corn Salsa           5.90
Chips and Roasted Chili-Corn Salsa           2.39
Chips and Tomatillo Green Chili Salsa        5.90
Chips and Tomatillo Red Chili Salsa          5.90
Chips and Tomatillo-Green Chili Salsa        4.78
Chips and Tomatillo-Red Chili Salsa          7.17
Crispy Tacos                                 7.40
Izze                                         3.39
Nantucket Nectar                             6.78
Salad                                        7.40
Side of Chips                               13.52
Steak Bowl                                  26.07
Steak Burrito                               27.75
Steak Crispy Tacos                          17.98
Steak Salad                                  8.99
Steak Salad Bowl                            23.78
Steak Soft Tacos                            18.50
Veggie Bowl                                 16.98
Veggie Burrito                              33.75
Veggie Crispy Tacos                          8.49
Veggie Salad                                 8.49
Veggie Salad Bowl                           11.25
Veggie Soft Tacos                           16.98

                                       item_price
item_name
6 Pack Soft Drink                           12.98
Barbacoa Bowl                               11.75
Barbacoa Burrito                            11.75
Barbacoa Crispy Tacos                       18.50
Barbacoa Salad Bowl                         11.89
Barbacoa Soft Tacos                         11.75
Bottled Water                               15.00
Bowl                                        22.20
Burrito                                      7.40
Canned Soda                                  4.36
Canned Soft Drink                            5.00
Carnitas Bowl                               35.25
Carnitas Burrito                            18.50
Carnitas Crispy Tacos                       17.98
Carnitas Salad                               8.99
Carnitas Salad Bowl                         11.89
Carnitas Soft Tacos                         11.75
Chicken Bowl                                32.94
Chicken Burrito                             35.00
Chicken Crispy Tacos                        17.50
Chicken Salad                               10.98
Chicken Salad Bowl                          22.50
Chicken Soft Tacos                          21.96
Chips                                        6.45
Chips and Fresh Tomato Salsa                44.25
Chips and Guacamole                         17.80
Chips and Mild Fresh Tomato Salsa            3.00
Chips and Roasted Chili Corn Salsa           5.90
Chips and Roasted Chili-Corn Salsa           2.39
Chips and Tomatillo Green Chili Salsa        5.90
Chips and Tomatillo Red Chili Salsa          5.90
Chips and Tomatillo-Green Chili Salsa        4.78
Chips and Tomatillo-Red Chili Salsa          7.17
Crispy Tacos                                 7.40
Izze                                         3.39
Nantucket Nectar                             6.78
Salad                                        7.40
Side of Chips                               13.52
Steak Bowl                                  26.07
Steak Burrito                               27.75
Steak Crispy Tacos                          17.98
Steak Salad                                  8.99
Steak Salad Bowl                            23.78
Steak Soft Tacos                            18.50
Veggie Bowl                                 16.98
Veggie Burrito                              33.75
Veggie Crispy Tacos                          8.49
Veggie Salad                                 8.49
Veggie Salad Bowl                           11.25
Veggie Soft Tacos                           16.98

20. Sort by the name of the item

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

21. What was the quantity of the most expensive item ordered?

In [7]:
chipotle[chipotle["item_price"] == chipotle["item_price"].max()]["quantity"]

TypeError: string indices must be integers

22. How many times was a Veggie Salad Bowl ordered?

In [8]:
len(chipotle[chipotle["item_name"] == "Veggie Salad Bowl"])

18

In [9]:
chipotle[chipotle["item_name"] == "Veggie Salad Bowl"].sum()["quantity"]

18

23. How many times did someone order more than one Canned Soda?

In [14]:
chipotle[(chipotle["item_name"] == "Canned Soda") & (chipotle["quantity"] > 1)].connt()

AttributeError: 'DataFrame' object has no attribute 'connt'